#root {
    color: #00FF00;
    font-family: monospace;
    font-size: 42px;
    margin: 0 auto;
    height: 100dvh;
    width: 100dvw;

    display: flex;
    align-items: center;
    justify-content: center;
}
